### Advanced SQL

In [1]:
!pip install --quiet ipython-sql

fastlmm 0.2.32 requires dill, which is not installed.
grin 1.2.1 requires argparse>=1.1, which is not installed.
grpcio 1.11.0 has requirement protobuf>=3.5.0.post1, but you'll have protobuf 3.4.1 which is incompatible.

In [2]:
import pandas as pd
%load_ext sql
%sql sqlite://

'Connected: @None'

In [3]:
# For compatibility across multiple platforms
import os
#IB = os.environ.get('INSTABASE_URI',None) is not None
#open = ib.open if IB else open

In [4]:
# Load tables from CSV files
# Cities
with open('Cities.csv','rU') as f:
    Cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Cities;
%sql persist Cities
# Countries
with open('Countries.csv','rU') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Countries;
%sql persist Countries
# Players
with open('Players.csv','rU') as f:
    Players = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Players;
%sql persist Players
# Teams
with open('Teams.csv','rU') as f:
    Teams = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Teams;
%sql persist Teams

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

u'Persisted teams'

#### Look at sample of Cities and Countries tables

In [5]:
%%sql
select * from Cities limit 5

 * sqlite://
Done.

[(u'Aalborg', u'Denmark', 57.03, 9.92, 7.52),
 (u'Aberdeen', u'United Kingdom', 57.17, -2.08, 8.1),
 (u'Abisko', u'Sweden', 63.35, 18.83, 0.2),
 (u'Adana', u'Turkey', 36.99, 35.32, 18.67),
 (u'Albacete', u'Spain', 39.0, -1.87, 12.62)]

In [6]:
%%sql
select * from Countries limit 5

 * sqlite://
Done.

[(u'Albania', 2.9, u'no', u'yes'),
 (u'Andorra', 0.07, u'no', u'no'),
 (u'Austria', 8.57, u'yes', u'no'),
 (u'Belarus', 9.48, u'no', u'no'),
 (u'Belgium', 11.37, u'yes', u'yes')]

### Duplicates, table variables

*Warm-up: Find all cities in the EU with temperature > 15*

In [7]:
%%sql
select city
from Cities, Countries
where Cities.country = Countries.country
and EU = 'yes' and temperature > 15

 * sqlite://
Done.

[(u'Algeciras',),
 (u'Athens',),
 (u'Badajoz',),
 (u'Barcelona',),
 (u'Bari',),
 (u'Cartagena',),
 (u'Catania',),
 (u'Cosenza',),
 (u'Granada',),
 (u'Huelva',),
 (u'Kalamata',),
 (u'Lisbon',),
 (u'Marbella',),
 (u'Messina',),
 (u'Palermo',),
 (u'Patras',),
 (u'Pescara',),
 (u'Rome',),
 (u'Trikala',),
 (u'Valencia',)]

*Modify previous query to return EU countries that have a city with temperature > 15, remove duplicates*

*Find number of countries that have a city with latitude > 60 (start with country list then fix)*

In [8]:
%%sql
select country
from Cities
where latitude > 60

 * sqlite://
Done.

[(u'Sweden',),
 (u'Norway',),
 (u'Norway',),
 (u'Finland',),
 (u'Sweden',),
 (u'Finland',),
 (u'Finland',),
 (u'Norway',),
 (u'Finland',)]

*Modify first query to use table variables*

In [9]:
%%sql
select city
from Cities, Countries
where Cities.country = Countries.country
and EU = 'yes' and temperature > 15

 * sqlite://
Done.

[(u'Algeciras',),
 (u'Athens',),
 (u'Badajoz',),
 (u'Barcelona',),
 (u'Bari',),
 (u'Cartagena',),
 (u'Catania',),
 (u'Cosenza',),
 (u'Granada',),
 (u'Huelva',),
 (u'Kalamata',),
 (u'Lisbon',),
 (u'Marbella',),
 (u'Messina',),
 (u'Palermo',),
 (u'Patras',),
 (u'Pescara',),
 (u'Rome',),
 (u'Trikala',),
 (u'Valencia',)]

*Find all pairs of cities with the same longitude; return the city pairs and their (shared) longitude - notice what's wrong and fix it*

In [11]:
%%sql
select C1.city, C2.city, C1.longitude
from Cities C1, Cities C2
where C1.longitude = C2.longitude

 * sqlite://
Done.

[(u'Aalborg', u'Aalborg', 9.92),
 (u'Aberdeen', u'Aberdeen', -2.08),
 (u'Abisko', u'Abisko', 18.83),
 (u'Adana', u'Adana', 35.32),
 (u'Albacete', u'Albacete', -1.87),
 (u'Algeciras', u'Algeciras', -5.47),
 (u'Amiens', u'Amiens', 2.3),
 (u'Amsterdam', u'Amsterdam', 4.92),
 (u'Ancona', u'Ancona', 13.5),
 (u'Andorra', u'Andorra', 1.52),
 (u'Angers', u'Angers', -0.53),
 (u'Ankara', u'Ankara', 32.86),
 (u'Antalya', u'Antalya', 30.7),
 (u'Arad', u'Arad', 21.32),
 (u'Athens', u'Athens', 23.73),
 (u'Augsburg', u'Augsburg', 10.9),
 (u'Bacau', u'Bacau', 26.92),
 (u'Badajoz', u'Badajoz', -6.97),
 (u'Baia Mare', u'Baia Mare', 23.58),
 (u'Balti', u'Balti', 27.91),
 (u'Barcelona', u'Barcelona', 2.18),
 (u'Bari', u'Bari', 16.87),
 (u'Basel', u'Basel', 7.59),
 (u'Batman', u'Batman', 41.14),
 (u'Belfast', u'Belfast', -5.96),
 (u'Belgrade', u'Belgrade', 20.47),
 (u'Bergamo', u'Bergamo', 9.67),
 (u'Bergen', u'Bergen', 5.32),
 (u'Berlin', u'Berlin', 13.4),
 (u'Bialystok', u'Bialystok', 23.17),
 (u'Bielefeld', u'Bielefeld', 8.53),
 (u'Bila Tserkva', u'Bila Tserkva', 30.13),
 (u'Bilbao', u'Bilbao', -2.93),
 (u'Birmingham', u'Birmingham', -1.92),
 (u'Blackpool', u'Blackpool', -3.05),
 (u'Bodo', u'Bodo', 14.4),
 (u'Bologna', u'Bologna', 11.34),
 (u'Bonn', u'Bonn', 7.08),
 (u'Bordeaux', u'Bordeaux', -0.6),
 (u'Botosani', u'Botosani', 26.66),
 (u'Bournemouth', u'Bournemouth', -1.9),
 (u'Bradford', u'Bradford', -1.75),
 (u'Braga', u'Braga', -8.42),
 (u'Braila', u'Braila', 27.97),
 (u'Bratislava', u'Bratislava', 17.12),
 (u'Bremen', u'Bremen', 8.8),
 (u'Brest', u'Brest', -4.5),
 (u'Brest', u'Brest', 23.7),
 (u'Brno', u'Brno', 16.61),
 (u'Brugge', u'Brugge', 3.23),
 (u'Bucharest', u'Bucharest', 26.1),
 (u'Budapest', u'Budapest', 19.08),
 (u'Burgas', u'Burgas', 27.47),
 (u'Burgos', u'Burgos', -3.68),
 (u'Burgos', u'Madrid', -3.68),
 (u'Bursa', u'Bursa', 29.07),
 (u'Bydgoszcz', u'Bydgoszcz', 18.01),
 (u'Bytom', u'Bytom', 18.91),
 (u'Caen', u'Caen', -0.35),
 (u'Cambridge', u'Cambridge', 0.12),
 (u'Cartagena', u'Cartagena', -0.98),
 (u'Catania', u'Catania', 15.08),
 (u'Chemnitz', u'Chemnitz', 12.92),
 (u'Cherkasy', u'Cherkasy', 32.07),
 (u'Chernihiv', u'Chernihiv', 31.3),
 (u'Chernivtsi', u'Chernivtsi', 25.92),
 (u'Chisinau', u'Chisinau', 28.86),
 (u'Constanta', u'Constanta', 28.61),
 (u'Cork', u'Cork', -8.5),
 (u'Cosenza', u'Cosenza', 16.29),
 (u'Craiova', u'Craiova', 23.83),
 (u'Craiova', u'Hrodna', 23.83),
 (u'Daugavpils', u'Daugavpils', 26.51),
 (u'Debrecen', u'Debrecen', 21.63),
 (u'Denizli', u'Denizli', 29.08),
 (u'Dijon', u'Dijon', 5.03),
 (u'Dublin', u'Dublin', -6.25),
 (u'Dundee', u'Dundee', -3.0),
 (u'Edinburgh', u'Edinburgh', -3.22),
 (u'Edirne', u'Edirne', 26.57),
 (u'Elbasan', u'Elbasan', 20.08),
 (u'Elblag', u'Elblag', 19.4),
 (u'Erfurt', u'Erfurt', 11.03),
 (u'Erzincan', u'Erzincan', 39.49),
 (u'Erzurum', u'Erzurum', 41.29),
 (u'Eskisehir', u'Eskisehir', 30.53),
 (u'Exeter', u'Exeter', -3.53),
 (u'Foggia', u'Foggia', 15.56),
 (u'Frankfurt', u'Frankfurt', 8.68),
 (u'Freiburg', u'Freiburg', 7.87),
 (u'Galway', u'Galway', -9.05),
 (u'Gaziantep', u'Gaziantep', 37.38),
 (u'Geneva', u'Geneva', 6.14),
 (u'Genoa', u'Genoa', 8.93),
 (u'Glasgow', u'Glasgow', -4.25),
 (u'G\xf6teborg', u'G\xf6teborg', 12.0),
 (u'Granada', u'Granada', -3.59),
 (u'Graz', u'Graz', 15.41),
 (u'Grenoble', u'Grenoble', 5.72),
 (u'Groningen', u'Groningen', 6.58),
 (u'Gyor', u'Gyor', 17.63),
 (u'Heidelberg', u'Heidelberg', 8.7),
 (u'Helsinki', u'Helsinki', 24.93),
 (u'Horlivka', u'Horlivka', 38.05),
 (u'Hrodna', u'Craiova', 23.83),
 (u'Hrodna', u'Hrodna', 23.83),
 (u'Huelva', u'Huelva', -6.93),
 (u'Ingolstadt', u'Ingolstadt', 11.45),
 (u'Innsbruck', u'Innsbruck', 11.41),
 (u'Inverness', u'Inverness', -4.23),
 (u'Istanbul', u'Istanbul', 29.01),
 (u'Kalamata', u'Kalamata', 22.11),
 (u'Karaman', u'Karaman', 33.22),
 (u'Karlsruhe', u'Karlsruhe', 8.4),
 (u'Kaunas', u'Kaunas', 23.88),
 (u'Kayseri', u'Kayseri', 35.49),
 (u'Kherson', u'Kherson', 32.6),
 (u'Kielce', u'Kielce', 20.66),
 (u'Kiev', u'Kiev', 30.52),
 (u'Kiruna', u'Kiruna', 20.22),
 (u'Klaipeda', u'Klaipeda', 21.12),
 (u'Kosice', u'Kosice', 21.25),
 (u'Koszalin', u'Koszalin', 16.18),
 (u'Kremenchuk', u'Kremenchuk', 33.43),
 (u'Kryvyy Rih', u'Kryvyy Rih', 33.34),
 (u'Le Mans', u'Le Mans', 0.1),
 (u'Lille', u'Lille', 3.08),
 (u'Limoges', u'Limoges', 1.25),
 (u'Linz', u'Linz', 14.29),
 (u'Lisbon', u'Lisbon', -9.14),
 (u'Ljubljana', u'Ljubljana', 14.51),
 (u'Lvov', u'Lvov', 24.03),
 (u'Maastricht', u'Maastricht', 5.68),
 (u'Maastricht', u'Stavanger', 5.68),
 (u'Madrid', u'Burgos', -3.68),
 (u'Madrid', u'Madrid', -3.68),
 (u'Magdeburg', u'Magdeburg', 11.62),
 (u'Makiyivka', u'Makiyivka', 37.97),
 (u'Malatya', u'Malatya', 38.3),
 (u'Malm\xf6', u'Malm\xf6', 13.03),
 (u'Manisa', u'Manisa', 27.44),
 (u'Marbella', u'Marbella', -4.88),
 (u'Marseille', u'Marseille', 5.38),
 (u'Mazyr', u'Mazyr', 29.27),
 (u'Messina', u'Messina', 15.55),
 (u'Metz', u'Metz', 6.18),
 (u'Milan', u'Milan', 9.21),
 (u'Minsk', u'Minsk', 27.57),
 (u'Montpellier', u'Montpellier', 3.87),
 (u'Mulhouse', u'Mulhouse', 7.35),
 (u'Murcia', u'Murcia', -1.13),
 (u'Nice', u'Nice', 7.27),
 (u'Nis', u'Nis', 21.9),
 (u'Novi Sad', u'Novi Sad', 19.85),
 (u'Odense', u'Odense', 10.38),
 (u'Ordu', u'Ordu', 37.87),
 (u'Orsha', u'Orsha', 30.42),
 (u'Oslo', u'Oslo', 10.75),
 (u'Ostrava', u'Ostrava', 18.25),
 (u'Oulu', u'Oulu', 25.47),
 (u'Oviedo', u'Oviedo', -5.83),
 (u'Palermo', u'Palermo', 13.35),
 (u'Patras', u'Patras', 21.73),
 (u'Perpignan', u'Perpignan', 2.9),
 (u'Perugia', u'Perugia', 12.39),
 (u'Pescara', u'Pescara', 14.22),
 (u'Pinsk', u'Pinsk', 26.09),
 (u'Pleven', u'Pleven', 24.61),
 (u'Plovdiv', u'Plovdiv', 24.75),
 (u'Podgorica', u'Podgorica', 19.27),
 (u'Poznan', u'Poznan', 16.9),
 (u'Prague', u'Prague', 14.47),
 (u'Reims', u'Reims', 4.03),
 (u'Riga', u'Riga', 24.1),
 (u'Rijeka', u'Rijeka', 14.45),
 (u'Rivne', u'Rivne', 26.25),
 (u'Rome', u'Rome', 12.48),
 (u'Rostock', u'Rostock', 12.15),
 (u'Ruse', u'Ruse', 25.97),
 (u'Salamanca', u'Salamanca', -5.67),
 (u'Salzburg', u'Salzburg', 13.04),
 (u'Samsun', u'Samsun', 36.34),
 (u'Santander', u'Santander', -3.8),
 (u'Sarajevo', u'Sarajevo', 13.38),
 (u'Sibiu', u'Sibiu', 24.14),
 (u'Siirt', u'Siirt', 41.93),
 (u'Sivas', u'Sivas', 37.03),
 (u'Skopje', u'Skopje', 21.43),
 (u'Split', u'Split', 16.47),
 (u'Stara Zagora', u'Stara Zagora', 25.62),
 (u'Stavanger', u'Maastricht', 5.68),
 (u'Stavanger', u'Stavanger', 5.68),
 (u'Stockholm', u'Stockholm', 18.1),
 (u'Sumy', u'Sumy', 34.78),
 (u'Swansea', u'Swansea', -3.95),
 (u'Szeged', u'Szeged', 20.15),
 (u'Tallinn', u'Tallinn', 24.73),
 (u'Tampere', u'Tampere', 23.75),
 (u'Tarsus', u'Tarsus', 34.88),
 (u'Tartu', u'Tartu', 26.71),
 (u'Tekirdag', u'Tekirdag', 27.51),
 (u'Toulouse', u'Toulouse', 1.45),
 (u'Trabzon', u'Trabzon', 39.72),
 (u'Trieste', u'Trieste', 13.8),
 (u'Trikala', u'Trikala', 21.77),
 (u'Trondheim', u'Trondheim', 10.42),
 (u'Turku', u'Turku', 22.25),
 (u'Uppsala', u'Uppsala', 17.64),
 (u'Valencia', u'Valencia', -0.4),
 (u'Vienna', u'Vienna', 16.37),
 (u'Vigo', u'Vigo', -8.73),
 (u'Vilnius', u'Vilnius', 25.32),
 (u'Warsaw', u'Warsaw', 21.0),
 (u'Wroclaw', u'Wroclaw', 17.03),
 (u'Yevpatoriya', u'Yevpatoriya', 33.36),
 (u'Zaragoza', u'Zaragoza', -0.89),
 (u'Zhytomyr', u'Zhytomyr', 28.66),
 (u'Zonguldak', u'Zonguldak', 31.78),
 (u'Zurich', u'Zurich', 8.56)]

*Find all pairs of cities that are near each other, i.e., longitude and latitude are both less than 0.5 apart; return city pairs*

In [16]:
%%sql
select C1.city, C2.city
from Cities C1, Cities C2
where abs(C1.longitude - C2.longitude) < .5
and abs(C1.latitude - C2.latitude) < .5
and C1.city < C2.city

 * sqlite://
Done.

[(u'Adana', u'Tarsus'),
 (u'Ancona', u'Sarajevo'),
 (u'Basel', u'Freiburg'),
 (u'Basel', u'Mulhouse'),
 (u'Bergamo', u'Milan'),
 (u'Cartagena', u'Murcia'),
 (u'Heidelberg', u'Karlsruhe'),
 (u'Horlivka', u'Makiyivka')]

### <font color = 'green'>Your Turn</font>

*Find all pairs of cities with the same temperature. Return the city pairs along with their shared temperature. What do you think about the data after seeing the answer?*

In [17]:
%%sql
--FILL IN QUERY HERE
select C1.city, C2.city, C1.temperature
from Cities C1, Cities C2
where C1.temperature = C2.temperature
and C1.city < C2.city
order by C1.city , C2.city, C2.temperature

 * sqlite://
Done.

[(u'Andorra', u'Sarajevo', 9.6),
 (u'Augsburg', u'Innsbruck', 4.54),
 (u'Baia Mare', u'Debrecen', 8.87),
 (u'Balti', u'Botosani', 8.23),
 (u'Basel', u'Elblag', 6.68),
 (u'Basel', u'Freiburg', 6.68),
 (u'Basel', u'Mulhouse', 6.68),
 (u'Basel', u'Zurich', 6.68),
 (u'Bialystok', u'Hrodna', 6.07),
 (u'Bonn', u'Maastricht', 8.63),
 (u'Bratislava', u'Brugge', 9.65),
 (u'Bratislava', u'Gyor', 9.65),
 (u'Bratislava', u'Lille', 9.65),
 (u'Brno', u'Vienna', 7.86),
 (u'Brugge', u'Gyor', 9.65),
 (u'Brugge', u'Lille', 9.65),
 (u'Bucharest', u'Le Mans', 10.59),
 (u'Bucharest', u'Ruse', 10.59),
 (u'Bytom', u'Ostrava', 7.66),
 (u'Chemnitz', u'Prague', 8.05),
 (u'Chemnitz', u'Sivas', 8.05),
 (u'Chisinau', u'Glasgow', 8.6),
 (u'Craiova', u'Pleven', 10.51),
 (u'Daugavpils', u'Vilnius', 5.38),
 (u'Edinburgh', u'Kremenchuk', 7.43),
 (u'Edirne', u'Stara Zagora', 10.9),
 (u'Elblag', u'Freiburg', 6.68),
 (u'Elblag', u'Mulhouse', 6.68),
 (u'Elblag', u'Zurich', 6.68),
 (u'Eskisehir', u'Montpellier', 11.11),
 (u'Freiburg', u'Mulhouse', 6.68),
 (u'Freiburg', u'Zurich', 6.68),
 (u'Geneva', u'Grenoble', 8.4),
 (u'Gyor', u'Lille', 9.65),
 (u'Karlsruhe', u'Metz', 8.88),
 (u'Koszalin', u'Odense', 7.73),
 (u'Le Mans', u'Ruse', 10.59),
 (u'Ljubljana', u'Rijeka', 9.27),
 (u'Manisa', u'Rome', 15.1),
 (u'Mulhouse', u'Zurich', 6.68),
 (u'Nis', u'Skopje', 9.36),
 (u'Novi Sad', u'Szeged', 10.34),
 (u'Prague', u'Sivas', 8.05),
 (u'Tarsus', u'Trieste', 11.21)]

### Subqueries in Where clause

*Find all countries in the Countries table with no city in the Cities table*

In [18]:
%%sql
select country
from Countries
where not exists (select * from Cities
                  where Cities.country = Countries.country)

 * sqlite://
Done.

[(u'Cyprus',),
 (u'Iceland',),
 (u'Kosovo',),
 (u'Liechtenstein',),
 (u'Luxembourg',)]

*Find countries in the EU that have a city with temperature > 15*

In [19]:
%%sql
select country
from Countries
where EU = 'yes'
and exists (select * from Cities
            where Cities.country = Countries.country
            and temperature > 15)

 * sqlite://
Done.

[(u'Greece',), (u'Italy',), (u'Portugal',), (u'Spain',)]

*Find number of countries that have a city with latitude > 60 (start with country list)*

In [16]:
%%sql
select country
from Countries
where exists (select * from Cities
              where Cities.country = Countries.country
              and latitude > 60)

 * sqlite://
Done.

[(u'Finland',), (u'Norway',), (u'Sweden',)]

*Find the westernmost city; return the city and longitude*

In [17]:
%%sql
select city, longitude
from Cities C1
where not exists (select * from Cities C2
                  where C2.longitude < C1.longitude)

 * sqlite://
Done.

[(u'Lisbon', -9.14)]

*Add easternmost to previous query*

*Westernmost city query using = and min*

In [18]:
%%sql
select city, longitude
from Cities
where longitude = (select min(longitude) from Cities)

 * sqlite://
Done.

[(u'Lisbon', -9.14)]

*Find all cities whose temperature is more than 50% higher than the average; return the city, country, and temperature, ordered by descending temperature*

In [19]:
%%sql
select city, country, temperature
from Cities
where temperature > (select avg(temperature) * 1.5 from Cities)
order by temperature desc

 * sqlite://
Done.

[(u'Adana', u'Turkey', 18.67),
 (u'Palermo', u'Italy', 17.9),
 (u'Athens', u'Greece', 17.41),
 (u'Algeciras', u'Spain', 17.38),
 (u'Cartagena', u'Spain', 17.32),
 (u'Kalamata', u'Greece', 17.3),
 (u'Marbella', u'Spain', 17.19),
 (u'Huelva', u'Spain', 17.09),
 (u'Patras', u'Greece', 16.9),
 (u'Cosenza', u'Italy', 16.6),
 (u'Messina', u'Italy', 16.54),
 (u'Granada', u'Spain', 16.33),
 (u'Valencia', u'Spain', 16.02),
 (u'Trikala', u'Greece', 16.0),
 (u'Barcelona', u'Spain', 15.78),
 (u'Badajoz', u'Spain', 15.61),
 (u'Lisbon', u'Portugal', 15.52),
 (u'Elbasan', u'Albania', 15.18),
 (u'Bari', u'Italy', 15.15),
 (u'Pescara', u'Italy', 15.13),
 (u'Manisa', u'Turkey', 15.1),
 (u'Rome', u'Italy', 15.1),
 (u'Catania', u'Italy', 15.04),
 (u'Denizli', u'Turkey', 15.02),
 (u'Murcia', u'Spain', 15.0),
 (u'Marseille', u'France', 14.98)]

*Number of cities in the EU*

In [20]:
%%sql
select count()
from Cities
where country in (select country from Countries where EU = 'yes')

 * sqlite://
Done.

[(150,)]

*Modify previous query to use "not in"*

*Same query using join instead of subquery*

In [21]:
%%sql
select count()
from Cities, Countries
where Cities.country = Countries.country
and EU = 'yes'

 * sqlite://
Done.

[(150,)]

*Number of countries with no coastline and a city with longitude < 20*

In [22]:
%%sql
select count()
from Countries
where coastline = 'no'
and exists (select * from Cities where country = Countries.country
            and longitude < 20)

 * sqlite://
Done.

[(7,)]

*Same query using join instead of subquery (see what's wrong and fix it)*

In [23]:
%%sql
select count()
from Countries, Cities
where Countries.country = Cities.country
and coastline = 'no' and longitude < 20

 * sqlite://
Done.

[(16,)]

*Find countries in Countries table with no city in Cities table using join instead of subquery (subquery version repeated first)*

In [24]:
%%sql
select country
from Countries
where not exists (select * from Cities
                  where Cities.country = Countries.country)

 * sqlite://
Done.

[(u'Cyprus',),
 (u'Iceland',),
 (u'Kosovo',),
 (u'Liechtenstein',),
 (u'Luxembourg',)]

In [25]:
%%sql
FILL IN

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN']

### <font color = 'green'>Your Turn</font>

*Find all cities in a country whose population is < 2; return the city and country. First write the query without a subquery.*

In [26]:
%%sql
YOUR QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "YOUR": syntax error [SQL: u'YOUR QUERY HERE']

*Now write the same query using a subquery instead of a join.*

In [27]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*Find all countries with no city having a temperature > 6*

In [28]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*Now try to write the same query without a subquery; can you?*

In [29]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

### Aggregation with Having clause

*Find all countries with average city temperature > 10; return country and average temperature*

In [30]:
%%sql
select country, avg(temperature)
from Cities
group by country
having avg(temperature) > 10

 * sqlite://
Done.

[(u'Albania', 15.18),
 (u'Bulgaria', 10.44),
 (u'Croatia', 10.865),
 (u'France', 10.151111111111112),
 (u'Greece', 16.9025),
 (u'Italy', 13.474666666666668),
 (u'Portugal', 14.469999999999999),
 (u'Spain', 14.238333333333332),
 (u'Turkey', 11.726666666666665)]

*Find all countries with more than 10 cities*

In [31]:
%%sql
select country
from Cities
group by country
having count() > 10

 * sqlite://
Done.

[(u'France',),
 (u'Germany',),
 (u'Italy',),
 (u'Spain',),
 (u'Turkey',),
 (u'Ukraine',),
 (u'United Kingdom',)]

*Same query without Having clause*

In [32]:
%%sql
select distinct country
from Cities C1
where 10 < (select count() from Cities C2
            where C1.country=C2.country)

 * sqlite://
Done.

[(u'United Kingdom',),
 (u'Turkey',),
 (u'Spain',),
 (u'France',),
 (u'Italy',),
 (u'Germany',),
 (u'Ukraine',)]

*Which combinations of EU versus non-EU and coastline versus no-coastline have a minimum population greater than 0.5?*

In [33]:
%%sql
select EU, coastline, min(population)
from Countries
group by EU, coastline
having min(population) > 0.5

 * sqlite://
Done.

[(u'yes', u'no', 0.58), (u'yes', u'yes', 1.18)]

*Find all countries with average city temperature more than 50% higher than the overall average; return country and average temperature*

In [34]:
%%sql
select country, avg(temperature)
from Cities
group by country
having avg(temperature) > (select 1.5 * avg(temperature) from Cities)

 * sqlite://
Done.

[(u'Albania', 15.18), (u'Greece', 16.9025), (u'Portugal', 14.469999999999999)]

### <font color = 'green'>Your Turn</font>

*Find all countries whose average city longitude is lower than the overall average longitude, and whose average city latitude is higher than the overall average latitude. Return the countries. Note: Yes, you can use "and" in Having clauses!*

In [35]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

### Subqueries in From and Select clauses

*Find all countries with both cold and warm cities -- at least one city with temperature < 9 and one city with temperature > 14*

In [36]:
%%sql
select distinct C1.country
from Cities C1, Cities C2
where C1.country = C2.country
and C1.temperature < 9 and C2.temperature > 14

 * sqlite://
Done.

[(u'France',), (u'Turkey',), (u'Italy',)]

*Modify query to also return count of cold and warm cities (then show without column renaming)*

In [37]:
# (select count() from Cities where country = C1.country and temperature < 9) as numcold,
# (select count() from Cities where country = C1.country and temperature > 14) as numwarm

*Same query using subquery in From clause instead of Select clause*

In [38]:
%%sql
select Cold.country, numcold, numwarm
from (select country, count() as numcold from Cities
      where temperature < 9 group by country) Cold,
     (select country, count() as numwarm from Cities
      where temperature > 14 group by country) Warm
where Cold.country = Warm.country

 * sqlite://
Done.

[(u'France', 5, 1), (u'Italy', 1, 7), (u'Turkey', 4, 5)]

### Data modification

*Increase all city temperatures by 10%*

In [39]:
%%sql
update Cities
set temperature = 1.1 * temperature

 * sqlite://
213 rows affected.

[]

In [40]:
%%sql
select avg(temperature) from Cities

 * sqlite://
Done.

[(10.447624413145537,)]

*Increase temperatures another 10% for cities in countries with coastline*

In [41]:
%%sql
update Cities
set temperature = 1.1 * temperature
where country in (select country from Countries
                  where coastline = 'yes')

 * sqlite://
183 rows affected.

[]

*Delete all cities in Turkey*

In [42]:
%%sql
delete from Cities
where country = 'Turkey'

 * sqlite://
24 rows affected.

[]

*Create a new table non-EU containing list of cities (with country) not in the EU*

In [43]:
%%sql
drop table if exists NonEU;
create table NonEU(city, country);
insert into NonEU
  select city, country from cities
  where country in (select country from Countries
                    where EU = 'no');
select * from NonEU

 * sqlite://
Done.
Done.
39 rows affected.
Done.

[(u'Andorra', u'Andorra'),
 (u'Balti', u'Moldova'),
 (u'Basel', u'Switzerland'),
 (u'Belgrade', u'Serbia'),
 (u'Bergen', u'Norway'),
 (u'Bila Tserkva', u'Ukraine'),
 (u'Bodo', u'Norway'),
 (u'Brest', u'Belarus'),
 (u'Cherkasy', u'Ukraine'),
 (u'Chernihiv', u'Ukraine'),
 (u'Chernivtsi', u'Ukraine'),
 (u'Chisinau', u'Moldova'),
 (u'Elbasan', u'Albania'),
 (u'Geneva', u'Switzerland'),
 (u'Horlivka', u'Ukraine'),
 (u'Hrodna', u'Belarus'),
 (u'Kherson', u'Ukraine'),
 (u'Kiev', u'Ukraine'),
 (u'Kremenchuk', u'Ukraine'),
 (u'Kryvyy Rih', u'Ukraine'),
 (u'Lvov', u'Ukraine'),
 (u'Makiyivka', u'Ukraine'),
 (u'Mazyr', u'Belarus'),
 (u'Minsk', u'Belarus'),
 (u'Nis', u'Serbia'),
 (u'Novi Sad', u'Serbia'),
 (u'Orsha', u'Belarus'),
 (u'Oslo', u'Norway'),
 (u'Pinsk', u'Belarus'),
 (u'Podgorica', u'Montenegro'),
 (u'Rivne', u'Ukraine'),
 (u'Sarajevo', u'Bosnia and Herzegovina'),
 (u'Skopje', u'Macedonia'),
 (u'Stavanger', u'Norway'),
 (u'Sumy', u'Ukraine'),
 (u'Trondheim', u'Norway'),
 (u'Yevpatoriya', u'Ukraine'),
 (u'Zhytomyr', u'Ukraine'),
 (u'Zurich', u'Switzerland')]

*Add your city*

In [44]:
%%sql
insert into NonEU values ('my-city','my-country');
select * from NonEU

 * sqlite://
1 rows affected.
Done.

[(u'Andorra', u'Andorra'),
 (u'Balti', u'Moldova'),
 (u'Basel', u'Switzerland'),
 (u'Belgrade', u'Serbia'),
 (u'Bergen', u'Norway'),
 (u'Bila Tserkva', u'Ukraine'),
 (u'Bodo', u'Norway'),
 (u'Brest', u'Belarus'),
 (u'Cherkasy', u'Ukraine'),
 (u'Chernihiv', u'Ukraine'),
 (u'Chernivtsi', u'Ukraine'),
 (u'Chisinau', u'Moldova'),
 (u'Elbasan', u'Albania'),
 (u'Geneva', u'Switzerland'),
 (u'Horlivka', u'Ukraine'),
 (u'Hrodna', u'Belarus'),
 (u'Kherson', u'Ukraine'),
 (u'Kiev', u'Ukraine'),
 (u'Kremenchuk', u'Ukraine'),
 (u'Kryvyy Rih', u'Ukraine'),
 (u'Lvov', u'Ukraine'),
 (u'Makiyivka', u'Ukraine'),
 (u'Mazyr', u'Belarus'),
 (u'Minsk', u'Belarus'),
 (u'Nis', u'Serbia'),
 (u'Novi Sad', u'Serbia'),
 (u'Orsha', u'Belarus'),
 (u'Oslo', u'Norway'),
 (u'Pinsk', u'Belarus'),
 (u'Podgorica', u'Montenegro'),
 (u'Rivne', u'Ukraine'),
 (u'Sarajevo', u'Bosnia and Herzegovina'),
 (u'Skopje', u'Macedonia'),
 (u'Stavanger', u'Norway'),
 (u'Sumy', u'Ukraine'),
 (u'Trondheim', u'Norway'),
 (u'Yevpatoriya', u'Ukraine'),
 (u'Zhytomyr', u'Ukraine'),
 (u'Zurich', u'Switzerland'),
 (u'my-city', u'my-country')]

### <font color = 'green'>Your Turn - Advanced SQL on World Cup Data</font>

#### Look at sample of Players and Teams tables

In [45]:
%%sql
select * from Players limit 5

 * sqlite://
Done.

[(u'Abdoun', u'Algeria', u'midfielder', 16, 0, 6, 0, 0),
 (u'Belhadj', u'Algeria', u'defender', 270, 1, 146, 8, 0),
 (u'Boudebouz', u'Algeria', u'midfielder', 74, 3, 28, 1, 0),
 (u'Bougherra', u'Algeria', u'defender', 270, 1, 89, 11, 0),
 (u'Chaouchi', u'Algeria', u'goalkeeper', 90, 0, 17, 0, 2)]

In [46]:
%%sql
select * from Teams limit 5

 * sqlite://
Done.

[(u'Brazil', 1, 5, 3, 1, 1, 9, 4, 7, 2),
 (u'Spain', 2, 6, 5, 0, 1, 7, 2, 3, 0),
 (u'Portugal', 3, 4, 1, 2, 1, 7, 1, 8, 1),
 (u'Netherlands', 4, 6, 6, 0, 0, 12, 5, 15, 0),
 (u'Italy', 5, 3, 0, 2, 1, 4, 5, 5, 0)]

*1) Find all pairs of teams who have the same number of goalsFor as
each other and the same number of goalsAgainst as each other.
Return the teams and numbers of goalsFor and goalsAgainst.
Make sure to return each pair only once.*

In [47]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*2) Find all teams with ranking <30 where no player made more than 150 passes. Return the team and ranking.*

In [48]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*3) Which team has the highest ratio of goalsFor to goalsAgainst?*

In [49]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*4) Find all team-position pairs where the average number of passes made by players in that position on that team is greater than 150. Return the team-position pairs.*

In [50]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']

*5) Find all teams whose defenders averaged more than 150 passes. Return the team and average number of passes by defenders, in descending order of average passes.*

In [51]:
%%sql
FILL IN QUERY HERE

 * sqlite://
(sqlite3.OperationalError) near "FILL": syntax error [SQL: u'FILL IN QUERY HERE']